@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

:root {
  --background-color: #f7f8f9;
  --foreground-color: #ffffff;
  --primary-color: #2c3545;
  --accent-color: #ed5735;
  --opacity-accent-color: rgba(237, 87, 53, 0.1);
  --black-color: #000000;
  --white-color: #ffffff;
  
  --mid-dark-gray-color: rgba(44, 53, 69, 0.1);
  --green-color: #03b700;
  --opacity-green-color: rgba(3, 183, 0, 0.1);
  --blue-color: #007bff;
  --opacity-blue-color: rgba(0, 123, 255, 0.1);
  --darkblue-color: #2c3545;
  --opacity-darkblue-color: rgba(44, 53, 69, 0.1);
  
  /* Text colors */
  --header-text-color: var(--primary-color);
}

body {
  background-color: var(--background-color);
  color: var(--primary-color); /* Sätter en mörk standardfärg på texten istället för vit/osynlig */
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 100vh;
}